.booking-main{
    height:100%;
    margin:100px;
}
.booking-details{
    
    display:flex;
}

.booking-form form{
    display:flex;
    flex-direction:column;
    
   
}
.booking-form{
    margin-top:30px;
}
.booking-form form input{
    width:400px;
    margin: 10px;
}
.booking-details img{
    width:400px;
    height:400px;
}
.booking-main h3{
    margin: 50px;
    
}
.booking-text {
    margin-top: 100px;
    padding-inline-end: 200px;
    padding-inline-start: 20px;
}


@media only screen and (max-width:688px){
    .booking-main{
        height:100%;
        margin:0px;
    }
    .booking-details{
    
        display:flex;
        flex-direction: column;
    }
    .booking-form form{
        display:flex;
        flex-direction:column;
        margin-inline-start: 30px;
       
    }
    .booking-details img{
        width:330px;
        height:400px;
    }

    .booking-text {
        margin-top: 100px;
        padding-inline-end: 0px;
        padding-inline-start: 10px;
    }

    .booking-form form input{
        width:300px;
        margin: 10px;
    }
    .booking-form h5{
        margin-left: 20px;
    }
}