.my-tours{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin-inline: 200px;
    margin-top: 100px;
    
    
    
}
.my-all-tours{
    min-height:200vh;
}




@media only screen and (max-width:688px){
    .my-tours{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       margin-inline: 0px;
        margin-top: 100px;
        
        
    }
    
}