.car-container{
    background-color:black;
    color:rgba(255, 255, 255, 0.959);
    margin:30px ;
   
}

.car-container img{
    
  width: 400px;
  height: 300px;
}
.car-text{
    padding:30px;
}

.purchase-btn{
   border: none;
   padding-inline:50px ;
   font-weight: bold;
   
}
.purchase-btn:hover{
   background-color:red;
   color: white;
}
.price{
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom:360px;
    color: black;
    
}

@media only screen and (max-width:688px){
    .car-container{
        background-color:black;
        color:white;
        margin:0px ;
        margin-block: 50px;
        
       
    }

    .car-container img{
    
        width: 360px;
        height: 300px;
      }

}