.car-container{
    background-color:black;
    color:white;
    margin:30px ;
   
}
.car-container img{
    
  width: 400px;
  height: 300px;
}
.car-text{
    padding:30px;
}

.purchase-btn{
   border: none;
   padding-inline:50px ;
   font-weight: bold;
   
}
.purchase-btn:hover{
   background-color:red;
   color: white;
}
.price{
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom:360px;
    background-color:black;
    
}