.banner{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;

    background: url(../../../image/banner.jpg) no-repeat center center ;
  background-size: cover;
    
}
.banner-text {
  font-weight: bold;
width:900px;
  color: white;
  padding-block:200px;
  padding-inline: 100px;
  
}


@media only screen and (max-width:688px){
       
  .banner{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background: url(../../../image/banner.jpg) no-repeat center center ;
    background-size: cover;

}

.banner-text {
  font-weight: bold;
   width:350px;
  color: white;
  padding-block:200px;
  padding-inline: 20px;
  
}


}