/* .my-tour{
    padding:30px;
    margin:10px;
  }
  
 
  

  */
  

  /* .my-order-container{
     display: flex;
     border: 1px solid #000;
     border-radius: 10px;
  } */

  .my-tour img{
    height: 150px;
    border-radius: 20px;;
    }

    /* */

    /* .single-order-text{
        margin-left:30px;
        width:300px;
        margin-top: 50px;
    }  */

    .status{
    color: #fff;
     font-size:20px;
     
     margin-top:40px;
     background-color: red;
     border-radius: 5px;
     padding-left:50px;
     padding-block: 2px;
     
    }


    .table{
        width:1000px;
    }

    .cancel-btn{
        border: none;
        padding-inline:50px ;
        padding-block:5px ;
        font-weight: bold;
        margin-top:40px;
        background-color: red;
        color: white;
        border-radius: 5px ;
        margin-left: 50px;
     }
     